<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="index.html"><span class="first">汽车销售</span> <span class="second">管理系统</span></a>
    </div>
</div>
<div class="sidebar-nav">
    <a href="/orders.html" class="nav-header" ><i class="icon-question-sign"></i>订单管理</a>
    <a href="/cars.html" class="nav-header" ><i class="icon-question-sign"></i>汽车管理</a>
    <a href="/carprices.html" class="nav-header" ><i class="icon-question-sign"></i>价格管理</a>
    <a href="/sellers.html" class="nav-header" ><i class="icon-question-sign"></i>销售人员管理</a>
</div>